<ion-header> 
 <ion-toolbar color="primary">
   <ion-buttons slot="start">
     <ion-back-button defaultHref="/home"></ion-back-button>
   </ion-buttons>
   <ion-title>Page 2</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content padding>
	Hello Welcome to sceond page!!!
</ion-content>
