<ion-header>
  <ion-toolbar>
    <ion-title>
      Page 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h1>Hello welcome to the first page.</h1>
	<ion-button routerLink="/demo2" routerDirection="forward">Click here to go to second page</ion-button>

	<h2>Enter Username or Id</h2>
	<form (ngSubmit)="Submitted(id,password)">
        <ion-item>
		    <ion-label color="primary" floating>User ID</ion-label>
	        <ion-input type="text" [(ngModel)]="id" name="id"></ion-input>
  		</ion-item>
  	  	<ion-item>
        	<ion-label color="primary" floating>Password</ion-label>
        	<ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      	</ion-item>
      <ion-button type="submit" block>Submit</ion-button>
    </form>

</ion-content>
